{% extends 'base.html.twig' %}

{% block title %}Productos
{% endblock %}


{% block body %}

	<style>
		table .col {
			background-color: rgb(79, 144, 160)
		}
		table {
			font-size: 16px;
		}
		.header-products {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	</style>

	<nav class="navbar navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand">Optime</a>
		</div>
	</nav>

	{# ALERTAS DE VALIDACION  #}
	{% for message in app.flashes('success-category') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<strong>Exito!</strong>
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% for message in app.flashes('validate-category') %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong>
			{% if message %}
				Todos los campos deben estar diligenciados.
			{% endif %}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% for message in app.flashes('validate-product') %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<strong>Error!</strong>
			<br>
			{% if message %}
				{% for m in message %}
					<li>{{ m.key }}:
						{{ m.value }}
					</li>
				{% endfor %}
			{% endif %}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}


	<div class="container mt-5">

		<div class="row header-products">
			<div class="col-md-10">
				<h3>Listado de productos</h3>
			</div>
			<div class="col-md-2" style="padding:10px">
				<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#listCategoryModal" style="float:right; margin-left:5px">
					<i title="Listar categorias" class="fas fa-list"></i>
				</button>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" style="float:right; margin-left:5px">
					<i title="Añadir producto" class="fa-solid fa-plus"></i>
				</button>
				<a href="{{ path('report_excel_product')}}" type="button" class="btn btn-success" style="float:right; margin-left:5px; width:45%">
					<i title="Generar reporte" class="far fa-file-excel"></i>
				</a>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<table class="table list-product mt-5 pt-1">
					<thead>
						<tr>
							<th class="col">Id</th>
							<th class="col">#</th>
							<th class="col">Nombre</th>
							<th class="col">Descripcion</th>
							<th class="col">Marca</th>
							<th class="col">Precio</th>
							<th class="col">Categoria</th>
							<th class="col" style="text-align:center;">Acciones</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

		<!-- Modal ADD Product-->
		<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Añadir producto</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form action="{{ path('create_product')}}" method="post">
							<div class="modal-body">
								<div class="mb-3">
									<label for="codigo" class="col-form-label">codigo:</label>
									<input type="text" class="form-control" id="codigo" name="codigo">
								</div>
								<div class="mb-3">
									<label for="nombre" class="col-form-label">nombre:</label>
									<input type="text" class="form-control" id="nombre" name="nombre"></input>
								<div class="mb-3">
									<label for="descripcion" class="col-form-label">descripcion:</label>
									<input type="text" class="form-control" id="descripcion" name="descripcion">
								</div>
								<div class="mb-3">
									<label for="marca" class="col-form-label">marca:</label>
									<input type="text" class="form-control" id="marca" name="marca">
								</div>
								<div class="mb-3">
									<label for="precio" class="col-form-label">precio:</label>
									<input type="text" class="form-control" id="precio" name="precio">
								</div>
								<div class="mb-3">
									<label for="categoria" class="col-form-label">categoria:</label>
									<select name="categoria" id="categoria" class="form-select">
										{% for key,val in categorys %}
											<option value="{{ val.id }}" name="{{ val.id }}">{{ val.name }}</option>
										{% endfor %}
									</select>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<!-- Modal EDIT Product-->
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Editar Producto</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form action="{{ path('edit_product_new')}}" method="post">
						<div class="modal-body">
							<div class="mb-3">
								<input type="hidden" class="form-control" id="id_edit" name="id_edit">
							</div>
							<div class="mb-3">
								<label for="codigo_edit" class="col-form-label">codigo:</label>
								<input type="text" class="form-control" id="codigo_edit" name="codigo_edit">
							</div>
							<div class="mb-3">
								<label for="nombre_edit" class="col-form-label">nombre:</label>
								<input type="text" class="form-control" id="nombre_edit" name="nombre_edit"></input>
							<div class="mb-3">
								<label for="descripcion_edit" class="col-form-label">descripcion:</label>
								<input type="text" class="form-control" id="descripcion_edit" name="descripcion_edit">
							</div>
							<div class="mb-3">
								<label for="marca_edit" class="col-form-label">marca:</label>
								<input type="text" class="form-control" id="marca_edit" name="marca_edit">
							</div>
							<div class="mb-3">
								<label for="precio_edit" class="col-form-label">precio:</label>
								<input type="text" class="form-control" id="precio_edit" name="precio_edit">
							</div>
							<div class="mb-3">
								<label for="categoria_edit" class="col-form-label">categoria:</label>
								<select name="categoria_edit" id="categoria_edit" class="form-select">
									{% for key,val in categorys %}
										<option value="{{ val.id }}" name="{{ val.id }}">{{ val.name }}</option>
									{% endfor %}
								</select>
							</div>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-primary">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal GESTION Category-->
<div class="modal fade" id="listCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Categorias
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal" data-bs-whatever="@mdo">
						<i title="Añadir categoria" class="fa-solid fa-plus"></i>
					</button>

				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead>
						<tr>
							<th class="col">#</th>
							<th class="col">Nombre</th>
							<th class="col">Activado</th>
							<th class="col" style="text-align:center;">Acciones</th>
						</tr>
					</thead>
					<tbody>
						{% for category in categorys %}
							<tr>
								<td>{{ category.id }}</td>
								<td>{{ category.name }}</td>
								<td>{{ category.active }}</td>
								<td style="text-align:center;">
									<a onclick="return deleteCategory({{category.id}})" class="btn btn-danger">
										<i title="Eliminar categoria" class="fas fa-trash"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal ADD Category-->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Categoria</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form action="{{ path('create_category')}}" method="post">
				<div class="modal-body">
					<div class="mb-3">
						<label for="nombre" class="col-form-label">Nombre:</label>
						<input type="text" class="form-control" id="nombre" name="nombre">
					</div>
					<div class="mb-3">
						<label for="activo" class="col-form-label">Activo:</label>
						<input type="number" class="form-control" id="activo" name="activo"></input>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>

	</div>
</div></div></div>{% endblock %}{% block javascripts %}<script src="{{ asset('js/main.js') }}" type="text/javascript"></script>{% endblock %}
